# Ignore entire large data/result directories
raw_data/
spades_results/
spades_ref_results/
abyss_results/
taxonomized_blast/

# Ignore raw sequences and large binaries
*.fastq
*.fq.gz
*.fasta
*.fna
*.bam
*.zip
*.fa
